footer.footer
      .content.has-text-centered
        p
          |  ©2016 COEN 3463 Team 11
        p
          a.icon(href='https://github.com/emnnipal/coen3463-m2t11')
            i.fa.fa-github
    script(async='', type='text/javascript', src='/javascripts/bulma.js')