extends layout

block content
  section.hero.is-primary.is-small.backgroundsmall
    .hero-head.navcus
      header.nav
        .container  
          .nav-left
            a.nav-item(href='/')
              img(src='/images/logo_white.png', alt='Logo')
          span.nav-toggle
            span
            span
            span
          .nav-right.nav-menu.navcus
            a.nav-item.isboxedpicture(href='/')
              | Home
            a.nav-item.isboxedpicture(href='/contact')
              | Contact
            a.nav-item.isboxedpicture(href='https://coen3463-m1t11.herokuapp.com/')
              | About Us
    .hero-body
      .container.has-text-centered
        h1.title.is-2.titlefont
          | Big Mom
        h2.subtitle.is-5
          | Your one stop catering service.

    .hero-foot.has-text-centered
      nav.tabs.isboxedcustom.is-fullwidth
        .container
          ul
            li
              a.isboxedpicture(href='/Wedding') Wedding
            li
              a.isboxedpicture(href='/Bday') Birthdays
            li
              a.isboxedpicture(href='/Ball') Ball
            

  .section.hero.is-light.is-small
    .hero-cta
        .level-item.has-text-centered
          each service, i in services
            .container.has-text-centered
              .columns.is-vcentered
                .column
                  figure.image.is-4by3
                    img.img-circle(src="#{service.pic}", alt='Description')
                .column.is-6.is-offset-1
                  h1.title.is-2.servicetitle
                    | #{service.name}
                  hr
                  br
                  h2.subtitle.is-4.servicedes
                    | #{service.description}
                  br
                  h2.subtitle.is-4.servicedes
                    | #{service.description2}
                  hr
                  br
                  p.has-text-centered
                    a.button.is-large(href='/contact')
                      | Inquire
  include footer
