.navcus{
	background-color: rgba(17, 17, 17, 0.50)  !important;
}

.backgroundsmall{
	background-position:right top !important;
}

.tilesbackground1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.10),rgba(0, 0, 0, 0.10)),url('../images/wedding.jpg') !important;
  background-repeat:no-repeat !important;
  background-size:cover !important;
  background-position:center !important;
}
.tilesbackground2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.10),rgba(0, 0, 0, 0.10)),url('../images/bday.jpg') !important;
  background-repeat:no-repeat !important;
  background-size:cover !important;
  background-position:center !important;
}
.tilesbackground3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.10),rgba(0, 0, 0, 0.10)),url('../images/ball.jpg') !important;
  background-repeat:no-repeat !important;
  background-size:cover !important;
  background-position:center !important;
}

.titlefont{
	font-family: Papyrus !important;
}
.customtitle{
	margin-top: 1% !important;
}

.is-border{
	background-color: #efefef !important;
}
.is-border2{
	background-color: #ffffff !important;
}

.color{
	background-color: #ffffff !important;
}

.logo{
	width: 100% !important;
}
.customposition{
	margin-top: 5% !important;
    margin-left: 17% !important;
    width:70% !important;
}
.backgroundcus{
	background-repeat: no-repeat !important;
    background-position: right top !important;
    background-attachment: fixed !important;
}